body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #252525;
    color: #FFFFFF;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#logo{
    padding-top:0.25%;
}

.sidebar{
    background:black;
    width:50px;
    position:fixed;
    right:0;
    top:25%;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    box-shadow: 1px 1px 5px #888888;
}

.sidebar li{
    list-style-type: none;
    margin-bottom:10px;
}

.sidebar a{
    text-decoration:none;
    color: var(--accent-1);
}

.sidebar ul{
    padding: 0;
    margin-top: 10px;
    margin-left: 12px;
}

.fa-arrow-up{
    color: #8d7aec;
}

.fa-arrow-up:hover{
    color: #6557ab;
    transition: color 0.5s ease;
}

.fa-discord{
    color:#2490dc;
}

.fa-discord:hover{
    color: #19669d;
    transition: color 0.5s ease;
}

.fa-instagram{
    color:#25D1B1;
}

.fa-instagram:hover{
    color: #1b9881;
    transition: color 0.5s ease;
}

.fa-twitter{
    color: #C632F8;
}

.fa-twitter:hover{
    color: #741c91;
    transition: color 0.5s ease;
}


footer{
    background-color: black;
    color: white;
    font-weight: 200;
    font-size: 0.9em;
    height:40px;
    text-align:center;
    padding-top:8px;
    padding-bottom:16px;
}

@media only screen and (max-width: 900px) {
    footer{
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 700px) {
    footer{
        font-size: 0.7em;
    }

    .sidebar{
        background:black;
        width:35px;
        position:fixed;
        right:0;
        top:25%;
        border-top-left-radius:15px;
        border-bottom-left-radius:15px;
        box-shadow: 1px 1px 5px #888888;
    }
    
    .sidebar li{
        list-style-type: none;
        margin-bottom:10px;
        font-size:0.7em;
    }
    
    .sidebar a{
        text-decoration:none;
        color: var(--accent-1);
    }
    
    .sidebar ul{
        padding: 0;
        margin-top: 10px;
        margin-left: 8px;
    }
}

@media only screen and (max-width: 600px) {
    footer{
        font-size: 0.6em;
    }
}